/*Main stylings*/
* {
    margin: auto;
}

.msbody {
    font-family: 'Chela One', cursive;
}

.msheaders {
  font-size: 2.5em;
  padding: 20px;
}

.biggertext {
  font-size: 1.25vw;
}

/*Navigation*/
.titlebanner { 
  font-size:3em;
  text-align:center;
  background-color:#3F4C92;
  color: white;
  padding: 20px;
  text-shadow: 2px 2px black;
  border-bottom: 10px solid rgb(248, 155, 48);
}

.linkbanner { 
  font-size:1.75vw;
  text-align:center;
  background-color:#94BBDE;
  padding-left: 8%;
  padding-right: 8%;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  text-shadow: 2px 2px black;
  padding-left: 7%;
  padding-right: 7%;
}

a:hover, a:active {
  background-color: #aabeff;
  border-radius:25px;
  color:rgb(248, 155, 48);
}

/*Banner image*/
.mscontactimage {
  width:100%;
  height:600px;
  object-fit: cover;
}

.hereforyou {
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 1;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 3.5em;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.diveadventure {
  padding: 20px;
  font-size: 4em;
  text-align: center;
  padding-top: 90px;
}

/*Contact form*/
.mscontactus {
  padding: 20px;
  line-height: 70px;
  background-color: #B7E8FD;
  width: 900px;
  margin: auto;
  border: 20px dotted #3F4C92;
  font-variant: small-caps;
  font-size: 1.5em;
  border-radius: 30px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.contactuscontainer {
  position: relative;
}

.pictureandtext {
  position: relative;
}

input[type=submit] {
  background-color: #3F4C92;
  border: 2px solid rgb(11, 33, 56);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 50%;
  font-family: 'Chela One', cursive;
  font-size: 1em;
}

input[type=submit]:hover {
  color: rgb(248, 155, 48);
}

.formsubmittal {
  padding-bottom: 20px;
  font-size: 1.5em;
  font-variant: small-caps;
  text-align: center;
}

/* Contact info columns */
.mscontactinfo {
  text-align: center;
  padding-top: 90px;
}

.mscolumn {
  float: left;
  
}

.msleft {
  width: 52%;
  padding: 3%;
  text-align: center;
  list-style-position: inside;
  background-color: #B7E8FD;
  border-radius: 30px; 
  border: .75vw solid #3F4C92;
  margin-right: 2%; 
}

.msright {
  width: 28%;
  padding: 3%;
  text-align: center;
  background-color:#3F4C92;
  border-radius: 30px;
  border: .75vw solid #B7E8FD;
  font-size: 1.25vw;
  color: rgb(248, 155, 48);
}

.msrow:after { /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

.msrow {
  width: 65%;
  margin: auto;
}

.timezones {
  background-color: #B7E8FD;
  border: 3px solid black;
  padding: 2%;
  text-align: center;
  border-radius: 50px; 
  color: black;
  font-size: 1.5em;
  line-height: 20px;
}

/* Google map location */
.msgooglemap {
  background-color: #3F4C92;
  text-align: center;
  width: 600px;
  height: 450px;
  border: 50px solid #3F4C92;
  margin-left: 50%;
  transform: translate(-50%, 0); 
  margin-bottom: 5%;
}

/*Section dividers(bubbles and line)*/
.sectiondivider {
  position: relative;
  margin-top: 60px;
  margin-bottom: 115px;
}

.msyellowline {
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.msbubbles {
  position: absolute;
  height: 120px;
  width: auto;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

/*Footer*/
.footernav { /*Parent for flexboxing*/
  display:flex;  
  background-color: #3F4C92;
  font-size:40px;
  color:white;
  text-shadow: 2px 2px rgb(12, 12, 12);
 text-decoration:none;
}
.leftfoot {  /*HOME AND CONTACT LINKS*/
  margin-left: 1%;
  padding:0.5%;
  color:white;
}

/*HOVER FT FOR LEFT FOOT LINKS*/
a.leftfoot:link {color:#ffffff;text-decoration:none;}
a.leftfoot:visited {color:#ffffff;text-decoration:none;}
a.leftfoot:hover {color:rgb(248, 155, 48);text-decoration:none;}


.centerfoot {  /*SEABUBBLES FOOTER TITLE*/
  align-items: center;
  text-align: center;
  margin-left: 35%;
}

.rightfoot {   /*FOLLOW US FB IMG RIGHT*/
  margin-right:2%;
  padding:0.5%;
  margin-left: 30%;
}

footer {   /*SMALL FOOTER WITH COPYRIGHT STUFF*/
  text-align:center;
  background-color: #272f5f;
  color:rgb(196, 196, 196);
  padding:0.2%;
}

/*Thank you page after submitting form*/
.thankyoucontainer {
  text-align: center;
  font-size: 1.5vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
  background-color: rgb(248, 155, 48);
  padding: 2%;
  border: 30px solid #B7E8FD;
}