< !--CSS CODE-->* {
    margin: auto;
}

/* LINKS LINK AND MORE LINKS */

/*Honestly needs some tweaks doesn't work outside of a specific view port. */
/*LEFT LINKS (home/FAQ)*/
.leftlink {
    font-size: 60px;
    position: absolute;
    text-align: center;
    margin-left: 60px;
    margin-top: 75px;
    z-index: 7;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

a.leftlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.leftlink:visited {
    color: #ffffff;
    text-decoration: none;
}

a.leftlink:hover {
    color: rgb(248, 155, 48);
    text-decoration: none;
}


/* TOURS DROP DOWN BUTTON */
.dropbtn {
    background-color: #4caf4f00;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-size: 60px;
    border: none;
    cursor: pointer;
    margin-left: 290px;
    margin-top: 75px;
    z-index: 9;
}

.dropdown {
    display: inline-block;
}

/*LINKS IN DROPDOWN MENU*/
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #3F4C92;
    min-width: 300px;
    text-shadow: 2px 2px black;
    font-size: 40px;
    border-radius: 25px;
    margin-left: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;

}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 30px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

/*INERACTIVE LINK CHANGES*/
.dropdown-content a:hover {
    background-color: #aabeff;
    border-radius: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 25px;
}

/*CHANGES TOURS LINK BUTTON TO ORANGE*/
.dropdown:hover .dropbtn {
    color: rgb(248, 155, 48);
}

.rightlink {
    font-size: 60px;
    position: absolute;
    margin-left: 1220px;
    margin-top: -3em;
    z-index: 4;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

a.rightlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.rightlink:visited {
    color: #ffffff;
    text-decoration: none;
}

a.rightlink:hover {
    color: rgb(248, 155, 48);
    text-decoration: none;
}

/*PURPLE BANNER TOP */
.titlebanner {
    font-size: 30px;
    text-align: center;
    margin-top: -150px;
    padding-top: 20px;
    background-color: #3F4C92;
    color: #3F4C92;
    position: relative;
    z-index: 2;
}

/*LIGHT BLUE BANNER*/
.linkbanner {
    font-size: 50px;
    text-align: center;
    margin-top: -104px;
    padding-top: 45px;
    background-color: #b7e8fd98;
    color: #b7e8fd00;
    position: relative;
    z-index: 3;


}

/*SEA BUBBLES AND SCUBA DIVING TITLE MIDDLE*/
.title {
    text-align: center;
    background-color: #3F4C92;
    margin-left: 750px;
    margin-right: 750px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 12;
}

/*SEARCH ICON*/
.fblink {

    width: 50px;
    position: absolute;
    margin-left: 1720px;
    margin-top: -210px;
    z-index: 5;
}

/*FB LINK PHOTO */
.searchicon {
    width: 50px;
    position: absolute;
    margin-left: 1790px;
    margin-top: -210px;
    z-index: 6;

}

/*BANNER PIC*/
.coverphoto {
    margin-top: -110px;
    position: relative;
    object-fit: cover;
    width: 1900px;
    height: 700px;
    z-index: 1
}

/*TEXT IN BANNER PIC*/
.covertext {
    color: white;
    text-shadow: 4px 4px 10px black;
    font-size: 150px;
    margin-top: -400px;
    margin-left: 640px;
    position: relative;
    z-index: 7;

}

/*WHILE DIVIDERS ON BANNER PIC*/
.divider {
    text-shadow: 4px 4px 10px black;
    position: absolute;
    margin-top: -100px;
    margin-left: 520px;
    z-index: 8;
}

/*THE SUBTITLE SETTINGS*/
.subtitle {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 70px;
    margin-top: 175px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    z-index: 10;
}

/*FOOTER------------------------------------------*/

.footernav {

    display: flex;
    background-color: #3F4C92;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px rgb(12, 12, 12);
    text-decoration: none;
    justify-content: center;

}

.leftfoot {
    margin-left: 1%;
    padding: 0.5%;
    color: white;

}

a.leftfoot:link {
    color: #ffffff;
    text-decoration: none;
}

a.leftfoot:visited {
    color: #ffffff;
    text-decoration: none;
}

a.leftfoot:hover {
    color: rgb(248, 155, 48);
    text-decoration: none;
}




.centerfoot {
    align-items: center;
    text-align: center;
    margin-left: 20%;
}




.rightfoot {
    margin-right: 2%;
    padding: 0.5%;
}




footer {
    text-align: center;
    background-color: #272f5f;
    color: rgb(196, 196, 196);
    padding: 0.2%;
}

/*Floats, makes the background blue, makes the width a bit over half the page, and gives the border a radius of 10px. */
.left {
    float: left;
    background-color: rgba(113, 135, 255, 0.2);
    font-size: 2em;
    width: 55%;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 100px;
    margin-right: 10px;
    font-variant-caps: all-small-caps;
}

.right {
    float: right;
    background-color: rgba(113, 135, 255, 0.2);
    width: 55%;
    border-radius: 20px;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 100px;
    margin-left: 10px;
    font-variant-caps: all-small-caps;
}

.pagedivider {
    background-color: rgba(255, 187, 13, 0.33);
    height: 5px;
    margin-bottom: 100px;
}

.firstbubblesdivider {
    position: absolute;
    margin-left: 45%;
    margin-top: -83px;
    width: 7%;
}

.divingphotoright {
    width: 300px;
    border-color: rgba(183, 232, 253, 0.5);
    border-radius: 25px;
    border-width: 10px;
    border-style: solid;
    float: right;
}

.divingphotoleft {
    width: 350px;
    border-color: rgba(183, 232, 253, 0.5);
    border-radius: 25px;
    border-width: 10px;
    border-style: solid;
    float: left;
}

.bubblesleft {
    float: left;
    rotate: 180deg;
    width: 200px;
}

.bubblesright {
    float: right;
    width: 200px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.morequestions {
    font-variant-caps: all-small-caps;
    font-size: 16px;
}

.contactbutton {
    text-decoration: none;
    font-size: 24px;
    border-radius: 50px;
    background-color: rgba(63, 76, 146, 0.63);
    padding: 0px 100px 0px 100px;
    font-variant-caps: all-small-caps;
    color: black;
}